.topword {
    font-size: 37px;
    text-transform: lowercase;
    text-align: center;
    margin: 10px auto;
    font-family: 'calibri';
    color: #fb9c06;
  
  }
  
  .botword {
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #6e6d6b;
    letter-spacing: 2px;
  }
  