.icon-board {
   padding: 5px auto;
    text-decoration: none;
    margin: 5px 20px;

    &__text {
        text-align: center;
        font-family: 'Bitter', serif;  
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }
}