    <div class="wrapper">
        <div class="imageBouquets">
            <img class="imageBouquet__item" 
            src="@@imageBouquet" 
            alt=""
            >
        </div>
        <div>
            <div>
                <p class="name-Bouq">
                    @@name
                </p>
            </div>
            <div class="bot-line">
                <div class="price">
                @@price
                </div>
                <div class="bask">
                    <i class="fas fa-shopping-basket"></i>
                </div>
            </div>
        </div>
    </div>
