
.article p {
    color: blue;
    font-style: italic;
    font-size: 18px;
    }
    .read-more {
      color: #fb9c06;
      display: block;
      text-align: right;
      text-decoration: none;
      font-style: italic;
      text-transform: lowercase;
    }
.article img {
    float: right;
    margin: 5px;
    padding: 5px;
}