.article {
    font-family: 'calibri';
    font-weight: bold;
    font-size: 15px;
    padding: 0 5px;
    letter-spacing: 0.5px;
}

.read {
    text-align: right;
    color: #ffaf11;
    font-style: italic;

}