@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');
@import "./partials/icon_board/icon_board.scss";
@import "./partials/icon_board/sprite.scss";

body * {
  outline: 1px solid lightgrey;
}

.contentbox {
  width: 1300px;
  margin: 0 auto;
}

p {
  margin: 5px auto;
}

.header {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #dbd6cc;
  opacity: 0.9;
}

.navigation {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  text-align: left;

    &__item {
    width: 100px;
   // padding:  60px auto;
    font-size: 18px;
    font-family: 'Bitter', serif;  
    text-align: center;
    padding-top: 20px;
    margin:10px 5px;
  }
}

  .navigation__item:hover {
  content: '';
  font-weight: bold;
}



.logo {
position: absolute;
left: 45%;
font-family: 'Josefin sans' ;
font-size:40px ;
font-weight: bold;
text-align: center;
content: inherit;

  &__blossom  {
    margin: 10px auto;
  }

  &__depot {
    margin: -20px auto;
  }
}

.sprites {
display: flex;
}

.banner {
  position: absolute;
  width: 100%;
  height:800px ;
  box-sizing: border-box;
  background-image: url('./img/banner.jpeg');
  //background-image: url('./img/banner 2.jpeg');;
  background-position: fixed;
  background-size:contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.info-window {
  position: relative;
  box-sizing: border-box;
  width: 450px;
  height: 150px;
  margin: 15%  auto;
  background-color:#dbd6cc ;
  border-radius: 10px;
  border: olivedrab solid 2px;
  z-index: 1;
}

