@mixin mainFontTitle ($fz: 20px)  {
    font-family: 'Josefin sans' ;
    font-size: $fz;
}

@mixin mainFontText ($fz: 20px) {
    font-family: 'Bitter', serif;
    font-size: $fz;
}

@mixin mainColorTheme {
    color: #dbd6cc;
}